# Ignore entire folders and files first
env/

ffprobe.exe
ffmpeg.exe

assets/audios/
assets/datasets/
assets/audios/audio-others/
logs/
rvc/models/pretraineds/

# Now un-ignore specific folders and files
!assets/audios/.gitkeep
!assets/datasets/.gitkeep
!assets/audios/audio-others/.gitkeep

!logs/.gitkeep
!logs/mute/
!logs/reference/
!logs/run_tensorboard_in_model_folder.bat

!rvc/models/pretraineds/.gitkeep

!rvc/models/pretraineds/hifi-gan/.gitkeep
!rvc/models/pretraineds/custom/.gitkeep
tabs/voice_blender/__pycache__/voice_blender.cpython-310.pyc
tabs/utilities/processing/__pycache__/processing.cpython-310.pyc
tabs/utilities/f0_extractor/__pycache__/f0_extractor.cpython-310.pyc
tabs/utilities/analyzer/__pycache__/analyzer.cpython-310.pyc
tabs/utilities/__pycache__/utilities.cpython-310.pyc
tabs/tts/__pycache__/tts.cpython-310.pyc
tabs/train/__pycache__/train.cpython-310.pyc
tabs/settings/sections/__pycache__/restart.cpython-310.pyc
tabs/settings/sections/__pycache__/model_author.cpython-310.pyc
tabs/settings/__pycache__/settings.cpython-310.pyc
tabs/inference/__pycache__/inference.cpython-310.pyc
tabs/download/__pycache__/download.cpython-310.pyc
rvc/train/process/__pycache__/model_information.cpython-310.pyc
rvc/train/process/__pycache__/model_blender.cpython-310.pyc
rvc/train/process/__pycache__/extract_model.cpython-310.pyc
rvc/train/preprocess/__pycache__/slicer.cpython-310.pyc
rvc/train/extract/__pycache__/preparing_files.cpython-310.pyc
rvc/train/__pycache__/utils.cpython-310.pyc
rvc/train/__pycache__/mel_processing.cpython-310.pyc
rvc/train/__pycache__/losses.cpython-310.pyc
rvc/train/__pycache__/distrib.cpython-310.pyc
rvc/train/__pycache__/data_utils.cpython-310.pyc
rvc/train/__pycache__/balancer.cpython-310.pyc
rvc/lib/tools/__pycache__/split_audio.cpython-310.pyc
rvc/lib/tools/__pycache__/pretrained_selector.cpython-310.pyc
rvc/lib/tools/__pycache__/prerequisites_download.cpython-310.pyc
rvc/lib/tools/__pycache__/model_download.cpython-310.pyc
rvc/lib/tools/__pycache__/launch_tensorboard.cpython-310.pyc
rvc/lib/tools/__pycache__/gdown.cpython-310.pyc
rvc/lib/tools/__pycache__/analyzer.cpython-310.pyc
rvc/lib/predictors/__pycache__/RMVPE.cpython-310.pyc
rvc/lib/predictors/__pycache__/FCPE.cpython-310.pyc
rvc/lib/predictors/__pycache__/F0Extractor.cpython-310.pyc
rvc/lib/algorithm/generators/__pycache__/refinegan.cpython-310.pyc
rvc/lib/algorithm/generators/__pycache__/hifigan_nsf.cpython-310.pyc
rvc/lib/algorithm/generators/__pycache__/hifigan_mrf.cpython-310.pyc
rvc/lib/algorithm/generators/__pycache__/hifigan.cpython-310.pyc
rvc/lib/algorithm/__pycache__/synthesizers.cpython-310.pyc
rvc/lib/algorithm/__pycache__/residuals.cpython-310.pyc
rvc/lib/algorithm/__pycache__/normalization.cpython-310.pyc
rvc/lib/algorithm/__pycache__/modules.cpython-310.pyc
rvc/lib/algorithm/__pycache__/encoders.cpython-310.pyc
rvc/lib/algorithm/__pycache__/discriminators.cpython-310.pyc
rvc/lib/algorithm/__pycache__/commons.cpython-310.pyc
rvc/lib/algorithm/__pycache__/attentions.cpython-310.pyc
rvc/lib/algorithm/__pycache__/__init__.cpython-310.pyc
rvc/lib/__pycache__/zluda.cpython-310.pyc
rvc/lib/__pycache__/utils.cpython-310.pyc
rvc/infer/__pycache__/pipeline.cpython-310.pyc
rvc/infer/__pycache__/infer.cpython-310.pyc
rvc/configs/__pycache__/config.cpython-310.pyc
assets/themes/__pycache__/loadThemes.cpython-310.pyc
assets/themes/__pycache__/CodenameViolet.cpython-310.pyc
assets/i18n/__pycache__/i18n.cpython-310.pyc
assets/__pycache__/installation_checker.cpython-310.pyc
__pycache__/core.cpython-310.pyc
rvc/models/embedders/contentvec/pytorch_model.bin
rvc/models/predictors/fcpe.pt
rvc/models/predictors/rmvpe.pt
rvc/models/embedders/contentvec/config.json
rvc/train/custom_optimizers/ranger/__pycache__/__init__.cpython-310.pyc
rvc/train/custom_optimizers/ranger/__pycache__/ranger2020.cpython-310.pyc
rvc/train/custom_optimizers/ranger/__pycache__/ranger2025.cpython-310.pyc
rvc/train/custom_optimizers/ranger/__pycache__/ranger913A.cpython-310.pyc
rvc/train/custom_optimizers/ranger/__pycache__/rangerqh.cpython-310.pyc
rvc/train/custom_optimizers/ranger25/__pycache__/__init__.cpython-310.pyc
rvc/train/custom_optimizers/ranger25/__pycache__/ranger25.cpython-310.pyc
rvc/models/embedders/spin/config.json
rvc/models/embedders/spin/pytorch_model.bin
